*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/compiler.xml
/.idea/shelf/
.idea/
.DS_Store
/build
/app/build
/captures
.externalNativeBuild
.cxx
local.properties

*.log

*.jks
*.keystore

__pycache__/
*.py[cod]
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/
.venv/
venv/

doc.json
